@charset "utf-8";
:root{--color-one:#0D191F;
    --color-two:#48B3E0;
    --color-three:#52A3C7;
    --color-four:#2D3A40;
    --color-five:#4B97B8;
    --color-six:#0B42B8;
    --color-seven:#010817;
    --color-eigth:#CF0418;
    --color-nine:#CF1F01;
    --color-ten:#EB151A;
    --color-eleven:#EB151A;
    --color-twelve:#ff0000;
    --color-thrteen:#ec2300; 
    --color-forteen:#111111;
    --color-fifteen:#dcdcdc;
    --color-sixteen: #fefcdc;
    --color-seventeen:#A99985;
    --color-eighteen:#DAD2BC;
    --color-nineteen:hwb(0 100% 0%);
    --color-twenty:#70798C;
    --color-twenty-two:#252323;    
    --color-twenty-three:#343a4065;
    
   }

   h1{font-size:18px;
    font-weight: bolder;
    font-variant: small-caps;}


 h2{font-size: 16px;
   font-weight: bolder;}   

 p{font-size: 14px;}  

html{overflow-x: hidden;}

*{margin: 0;
    padding: 0;
    box-sizing: border-box;}

    body{background-color:#fefcdc}


    /*---------------------------whatsapp-----------------*/
.whatsapp-link {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #ffffff;
  border: solid 3px #ffffff;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 500%;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.whatsapp-link:hover{border:solid 4px #CF0418;}

.fa-whatsapp {
  margin-top: 16px;}
  